@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

* {
  font-family: 'Muli', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300;
  background-color: #29303A !important;
}

.container {
  margin: 60px !important;
}

.leftPart {
  padding-left: 0 !important;
}

.icons {
  margin-right: 60px;
}

a {
  coursor: pointer;
}

.icon {
  font-size: 1.5em;
  color: #eaeaea;
}

.icon, a:hover {
  color: #d6d6d6;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #29303A;
  color: #eaeaea !important;
}

.header {
  align-items: center;
  background-color: #000000;
  display: flex;
  font-size: 1em;
  font-weight: 700;
  height: 70px;
  justify-content: space-between;
}

.title {
  margin: 20px 60px 20px 60px;
  background: linear-gradient(to right, #f4fc83, #54daf2);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.header .title {
  cursor: pointer;
}

.content {
  flex: auto;
}

.text {
  margin: 0 60px 0px 60px;
}

.subtitle {
  color: #f4fc83;
  /* margin: 50px 0 30px 0; */
}

.footer {
  background: url("./skyline.png");
  height: 25px;
}

.doughnutText {
  color: white;
}

.area {
  opacity: 1;
  stroke: none;
}
.area:hover {
  fill: #E2E062;
}

/* .tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  text-transform: lowercase;
  padding: 20px;
}

.tooltip::first-letter {
  text-transform: uppercase;
} */

.selection {
  fill: #ADD8E6;
  stroke: #ADD8E6;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
}

.container {
  display: flex;
  margin: 0;
}

.left-half, .right-half {
  flex: 1;
}

.brushed {
  fill: #E2E062;
  opacity: 1.0;
}

.non_brushed {
  fill: black;
  opacity: 0.6;
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222;
  background: #f4fc83;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: 1em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  position: absolute;
  /* padding: 10px; */
}

.centerTip {
  transform: translateY(3px);
}

li {
  font-weight: 700;
}

li p {
  font-weight: 300;
}

a, a:visited, a:active, a:hover {
  color: #a983ca;
  font-weight: 700;
  text-decoration: none;
}

ul > li > ul > li {
  font-weight: 300;
}

.chartTitle {
  font-weight: 300;
  text-align: center;
}

.map {
  transform: translateY(-30px);
  text-align: center;
}

.label {
  fill: white;
  font-weight: bold;
  opacity: 1;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button, .button:hover {
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  outline: none;
}

.button {
  background: #49A1B4;
}

.button:hover {
  background: #357786;
}

.map {
  margin-bottom: 100px;
}
